@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');


body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #ADDFFF, #BDEDFF);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 90%;
  margin-right: 15px;
}

.title-container {
  height: 90vh;
  background: url("image/background.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  font-family: 'Sriracha', cursive;
  color: #000;
  border: 2px solid;
  border-color: #4EE2EC;
}
.title-text {
  font-size: 45px;
  margin-top: 180px;
  letter-spacing: 1.6px;
}
.subtitle-text {
  font-size: 18px;
  letter-spacing: 1.1px;
}

.form-container {
  background-color: #F0FFFF;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
}

.info-text {
  font-family: 'Open Sans', serif;
  font-size: 15px;
}


input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #6960EC;
  width: 34%;
  padding-bottom: 2px;
  color: #000 !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 28px;
  margin-right: 20px;
  font-size: 20px;
  outline: none; /* this removes the default outline when typing into the input box */
}


input:-webkit-autofill { /* this determines the colour of the text and input box for autofilled content */
    -webkit-box-shadow: 0 0 0 30px #F0FFFF inset;
    -webkit-text-fill-color: #00000 !important;
}

button { /* this is for the "Search" button */
  border: 0;
  padding: 8px 20px;
  margin-left: 40px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #6960EC;
  color: #fff;
  font-weight: 100;
}

button:active { /* this removes the default outline when the button is pressed */
  outline: none;
}
